html {
    background-color: hwb(150 25% 30%);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 125%;
    text-align: left;
    hyphens: auto;
}

p{
    color: darkgreen;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    display: flex;
    flex-direction: row;
    width: 450px;
    margin-top: 20px;
    margin-inline: 100px;
    border: darkgreen 5px solid;
    background-color: hwb(150 50% 30%);
}

h2 {
    margin: 0px;
    padding: 10px;
    border-right: darkgreen 5px solid;
}

h2 img{
    border: greenyellow 4px solid;
}

div {
    margin: 10px;
}

